.search_part{
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.content_part{
	/*width: 30%;*/
	margin: auto;
	text-align: center;
}

.panel-body img{
	max-width: 100%;
}
a{
	cursor: pointer;
}